PUBLIC_DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
PUBLIC_OSU2_CLIENT_ID=
OSU2_CLIENT_SECRET=
PUBLIC_OSU2_CALLBACK_URL=
PRIVATE_COOKIE_SECRET=
PUBLIC_BASE_URL=http://localhost:8000
PRIVATE_OSU_PROXY_BASE_URL=
PRIVATE_OSU_PROXY_SHARED_SECRET=
PRIVATE_CF_ACCESS_CLIENT_ID=
PRIVATE_CF_ACCESS_CLIENT_SECRET=
