html,
body,
.start {
  height: 100%;
}

html {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
}

body {
  margin: 0;
}

a {
  display: block;
  color: black;
}

.grid-container {
  height: 100%;
  width: min-content;
  display: grid;
  align-content: center;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.right-align {
  text-align: right;
}

.center-align {
  align-items: center;
  justify-content: center;
}

.container {
  width: 60%;
  margin: auto;
}

@media (max-width: 1241px) {
  .container {
    width: calc(1241px*0.6);
    margin: auto;
  }
}

@media (max-width: 744px) {
  .container {
    width: auto;
    margin: auto 5%;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #000000;
    color: #CECECE;
  }
}

.button {
  width: 15rem;
  height: 2rem;
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: #ff66aa;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.osu {
  background-color: #ff66aa;
  color: #ffffff;
}

.discord {
  background-color: #5865f2;
  color: #ffffff;
}

.row {
  width: auto;
}

.text-centered {
  text-align: center;
}
